.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 213, 0) !important;
}


.nav-link {
  color: #000000 !important;
  font-weight: 500;
  padding: 0rem 1rem !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fef100 !important;
}

.nav-dropdown {
  margin: 0 0.5rem;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 0.5rem 1rem;
  color: #333;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-dropdown {
    margin: 0;
  }
  
  .dropdown-menu {
    border: none;
    box-shadow: none;
  }
} 